In [2]:
import requests as req

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import feedparser

from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By

import time

import random

import warnings
warnings.filterwarnings('ignore')

He importado esta base de datos desde Kaggle. Habiendo analizado previamente las otras dos fuentes con las que se completará la base de datos, he mantenido aquellas columnas cuya información pudiera obtener igualmente de las otras fuentes. Además, he decidido mantener unicamente los artículos femeninos (ya veremos cómo justificamos esto).

In [4]:
hm_original = pd.read_csv('../csv/hm_articles.csv')

In [5]:
hm = hm_original.copy()

In [6]:
hm.insert(0, 'brand_name', 'H&M')

In [7]:
nan_cols = hm.isna().sum()

nan_cols[nan_cols>0]

detail_desc    416
dtype: int64

In [8]:
hm.index_name.value_counts()

Ladieswear                        26001
Divided                           15149
Menswear                          12553
Children Sizes 92-140             12007
Children Sizes 134-170             9214
Baby Sizes 50-98                   8875
Ladies Accessories                 6961
Lingeries/Tights                   6775
Children Accessories, Swimwear     4615
Sport                              3392
Name: index_name, dtype: int64

In [9]:
hm.drop(hm[hm.index_name != 'Ladieswear'].index, axis = 0, inplace = True)

In [10]:
hm.rename(columns = {'colour_group_name': 'color', 'index_name':'section', 'product_type_name':'product_type'}, inplace = True)

In [11]:
hm.section.replace('Ladieswear', 'Mujer', inplace = True)

In [12]:
hm = hm.drop(columns = ['product_code','product_type_no', 'graphical_appearance_no','graphical_appearance_name',
                        'perceived_colour_value_id', 'perceived_colour_value_name', 'index_group_no', 'section_name',
                        'perceived_colour_master_id','perceived_colour_master_name', 'index_code', 'index_group_name', 'colour_group_code',
                        'section_no','garment_group_no', 'garment_group_name', 'product_group_name', 'department_no', 'department_name'])

In [13]:
hm = hm.fillna('no info')

In [14]:
nan_cols = hm.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [15]:
hm.head()

,brand_name,article_id,prod_name,product_type,color,section,detail_desc
0,H&M,108775015,Strap top,Vest top,Black,Mujer,Jersey top with narrow shoulder straps.
1,H&M,108775044,Strap top,Vest top,White,Mujer,Jersey top with narrow shoulder straps.
2,H&M,108775051,Strap top (1),Vest top,Off White,Mujer,Jersey top with narrow shoulder straps.
15,H&M,116379047,Frugan longsleeve,Top,Dark Blue,Mujer,Fitted top in soft stretch jersey with a wide ...
23,H&M,120129001,Babette long,Leggings/Tights,Black,Mujer,Leggings in soft jersey with a wide panel at t...

In [16]:
hm2 = hm.sample(n = 200)
hm2.reset_index(drop = True).head()

,brand_name,article_id,prod_name,product_type,color,section,detail_desc
0,H&M,566360008,Chickory (1),Dress,Dark Blue,Mujer,"Knee-length, off-the-shoulder dress in jersey ..."
1,H&M,709301001,ED Gisela pearl,Sweater,Grey,Mujer,Jumper in a fine knit with decorative beading ...
2,H&M,536524001,Temple,Jacket,Black,Mujer,"Padded jacket with a stand-up collar, zip with..."
3,H&M,748687002,Ursula knitted top,Vest top,Beige,Mujer,Vest top in rib-knit cotton with buttons down ...
4,H&M,923134014,Clara jogger,Trousers,Light Grey,Mujer,Joggers in sweatshirt fabric made from a cotto...

In [58]:
#from translate import Translator

In [59]:
#def translate_df(df, source_language, target_language):
#    translator = Translator(to_lang=target_language)
#    df_translated = df.applymap(lambda x: translator.translate(x) if isinstance(x, str) else x)
#    return df_translated

In [60]:
#hm2 = translate_df(hm2, 'en', 'es')

In [19]:
hm2.to_csv('../01-data-cleaning/hm-clean-data.csv', index = False)