In [1]:
import requests as req

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import feedparser

from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By

import time

import random

import warnings
warnings.filterwarnings('ignore')

He importado esta base de datos desde Kaggle. Habiendo analizado previamente las otras dos fuentes con las que se completará la base de datos, he mantenido aquellas columnas cuya información pudiera obtener igualmente de las otras fuentes. Además, he decidido mantener unicamente los artículos femeninos (ya veremos cómo justificamos esto).

In [2]:
hm_original = pd.read_csv('../ETL-project/csv/hm_articles.csv')

In [3]:
hm = hm_original.copy()

In [4]:
hm.insert(0, 'brand_name', 'H&M')

In [5]:
nan_cols = hm.isna().sum()

nan_cols[nan_cols>0]

detail_desc    416
dtype: int64

In [6]:
hm.index_name.value_counts()

Ladieswear                        26001
Divided                           15149
Menswear                          12553
Children Sizes 92-140             12007
Children Sizes 134-170             9214
Baby Sizes 50-98                   8875
Ladies Accessories                 6961
Lingeries/Tights                   6775
Children Accessories, Swimwear     4615
Sport                              3392
Name: index_name, dtype: int64

In [7]:
hm.drop(hm[hm.index_name != 'Ladieswear'].index, axis = 0, inplace = True)

In [8]:
colors = hm[['colour_group_code', 'colour_group_name']]

In [9]:
colors = colors.drop_duplicates()

In [10]:
colors = colors.sort_values(by = 'colour_group_code')

In [11]:
colors.reset_index(drop = True).head()

   colour_group_code colour_group_name
0                 -1           Unknown
1                  1             Other
2                  2       Transparent
3                  3            Silver
4                  4     Bronze/Copper

In [12]:
colors.rename(columns = {'colour_group_code':'colour_id', 'colour_group_name': 'colour_name'}, inplace = True)

In [13]:
hm.index_name.replace('Ladieswear', 'Woman', inplace = True)

In [14]:
section = hm[['index_group_no', 'index_name']]

In [15]:
section = section.drop_duplicates()

In [16]:
section.rename(columns = {'index_group_no':'section_id','index_name':'section_name'}, inplace = True)

In [17]:
hm.rename(columns = {'index_group_no':'section_id', 'colour_group_code':'colour_id'}, inplace = True)

In [18]:
hm = hm.drop(['product_type_no', 'graphical_appearance_no','graphical_appearance_name', 'colour_group_name',
              'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id',
             'perceived_colour_master_name', 'index_code', 'index_group_name', 'section_no', 'section_name',
              'garment_group_no', 'garment_group_name', 'product_group_name', 'department_no', 'index_name', 'product_code', 'department_name'], axis = 1)

In [19]:
hm = hm.fillna('no info')

In [20]:
nan_cols = hm.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [21]:
hm.head()

,brand_name,article_id,prod_name,product_type_name,colour_id,section_id,detail_desc
0,H&M,108775015,Strap top,Vest top,9,1,Jersey top with narrow shoulder straps.
1,H&M,108775044,Strap top,Vest top,10,1,Jersey top with narrow shoulder straps.
2,H&M,108775051,Strap top (1),Vest top,11,1,Jersey top with narrow shoulder straps.
15,H&M,116379047,Frugan longsleeve,Top,73,1,Fitted top in soft stretch jersey with a wide ...
23,H&M,120129001,Babette long,Leggings/Tights,9,1,Leggings in soft jersey with a wide panel at t...

In [22]:
hm2 = hm.sample(n = 2000)
hm2.reset_index(drop = True).head()

,brand_name,article_id,prod_name,product_type_name,colour_id,section_id,detail_desc
0,H&M,665508002,Boyfriend,Sweater,9,1,Jumper in a soft rib knit containing some wool...
1,H&M,811279002,Manuelle,Blouse,19,1,"Blouse in airy, patterned chiffon with a stand..."
2,H&M,534164018,NT Alva 2-pack,Vest top,51,1,Soft nursing tops in organic cotton jersey wit...
3,H&M,731643001,NW Romina LL PJ,Garment Set,51,1,Pyjamas with a shirt and bottoms in satin. Shi...
4,H&M,611641002,Tax trench,Jacket,13,1,Double-breasted trenchcoat in a wool blend wit...

In [23]:
hm2.to_csv('hm-clean-data.csv', index = False)
colors.to_csv('colors.csv', index = False)
section.to_csv('section.csv', index = False)